@page "/blog/{urlHandle}"
@model Bloggie.Pages.Blogs.DetailsModel
@{
    ViewData["Title"] = Model.blogPost.PageTitle;
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            @if (Model.blogPost != null)
            {
                <h1 class="mb-3">@Model.blogPost.Heading</h1>

                <div class="d-flex justify-content-between mb-3">
                    <span class="text-secondary">@Model.blogPost.Author</span>
                    <span class="text-secondary">@Model.blogPost.PublishDate.ToShortDateString()</span>
                </div>

                <img src="@Model.blogPost.FeaturedImageUrl" class="d-block img-fluid mb-3"/>

                <div class="mb-3 blog-details">
                    @Html.Raw(Model.blogPost.Content)
                </div>
            }
            else
            {
                <h1>Blog post not found!</h1>
            }
        </div>
    </div>
</div>